.container-fluid.bg-dark.text-white-50.footer.pt-5.mt-5
  .container.py-5
    .pb-4.mb-4(style='border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;')
      .row.g-4
        .col-lg-3
          a(href='#')
            h1.text-primary.mb-0 Nông sản GK
            p.text-secondary.mb-0 Nông sản sạch, chất lượng cao
        .col-lg-6
          .position-relative.mx-auto
            input.form-control.border-0.w-100.py-3.px-4.rounded-pill(type='number' placeholder='Your Email')
            button.btn.btn-primary.border-0.border-secondary.py-3.px-4.position-absolute.rounded-pill.text-white(type='submit' style='top: 0; right: 0;') Subscribe Now
        .col-lg-3
          .d-flex.justify-content-end.pt-3
            a.btn.btn-outline-secondary.me-2.btn-md-square.rounded-circle(href='')
              i.fab.fa-twitter
            a.btn.btn-outline-secondary.me-2.btn-md-square.rounded-circle(href='')
              i.fab.fa-facebook-f
            a.btn.btn-outline-secondary.me-2.btn-md-square.rounded-circle(href='')
              i.fab.fa-youtube
            a.btn.btn-outline-secondary.btn-md-square.rounded-circle(href='')
              i.fab.fa-linkedin-in
    .row.g-5
      .col-lg-3.col-md-6
        .footer-item
          h4.text-light.mb-3 Nông Sản GK
          p.mb-4
            | “ĐÚNG HÀNG – ĐÚNG GIÁ – ĐÚNG CHẤT LƯỢNG” 
          a.btn.border-secondary.py-2.px-4.rounded-pill.text-primary(href="/products") Mua sắm
      .col-lg-3.col-md-6
        .d-flex.flex-column.text-start.footer-item
          h4.text-light.mb-3 Giới thiệu
          a.btn-link(href='#') Về chúng tôi
          a.btn-link(href='/contact') Liên hệ
          
      .col-lg-3.col-md-6
        .d-flex.flex-column.text-start.footer-item
          h4.text-light.mb-3 Tài khoản
          a.btn-link(href='/user/info') Tài khoản của tôi
          a.btn-link(href='/products') Cửa hàng
          a.btn-link(href='/cart') Giỏ hàng
          
      .col-lg-3.col-md-6
        .footer-item
          h4.text-light.mb-3 Liên hệ
          p Địa chỉ: 123 DN11, phường Tân Hưng Thuận, Quận 12
          p Email: shop.nongsan.gk@gmail.com
          p Số điện thoại: (+84) 0367709906
          img.img-fluid(src='img/payment.png' alt='')
