extends ../../layout/user.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)

    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                a(href="/" style="text-decoration: none")
                    <p>NÔNG SẢN GK</p>
            </div>
            <div class="nav-menu" id="navMenu">
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Quên mật khẩu</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <!----------------------------- Form box ----------------------------------->    
        <div class="form-box">
            
            <!------------------- login form -------------------------->
            <div class="login-container">
                form(
                    action="/user/password/forgot"
                    method="POST"
                )
                    <div class="top">
                        <header>Quên mật khẩu</header>
                    </div>
                    <div class="form-group input-box">
                        <input type="email" class="form-control input-field" placeholder="Email" id="email" name="email" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="form-group input-box">
                        <input type="submit" class="submit" value="Gửi mail xác nhận">
                    </div>
                    <br>
            </div>
        </div>
    </div>    